 *{
    margin: 0%;
    padding: 0;
 }

 body {
   font-family: arial;
   background-color: lightblue;
   text-align: center;
 }
 h1 {
   margin: 40px;
   font-size: 40px;
 }
 form {
   background-color: white;
   padding: 40px;
   width: 400px;
   margin: auto;
 }
 label {
   font-size: 20px;
 }
 input {
   margin: 15px;
   padding: 12px;
   font-size: 18px;
 }
 button {
   padding: 12px 30px;
   background-color: blue;
   color: white;
   border: none;
 }
 p {
   margin: 30px;
   font-size: 25px;
 }