*{
    margin: 0%;
}

.logo h1{
    background-color: aliceblue;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
}