*{
    margin: 0%;
}
body {
    background-color: rgb(60, 78, 102);
    
}
 
.botao-login,.botao-cadastro {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;

}

.botao-login {
    background-color: #010152;
    color: white;
}
.botao-cadastro {
    background-color: #4f8cff;
    color: white;
}
.cabecalho {
    background-color: #172033;
    color: white;
    padding: 20px 0;
}
.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    font-size: 32px;
    color: #4f8cff;
}
.logo {
    color: #b8c2d1;
    margin-top: 5px; 
}
.menu-principal {
    background-color: #0d1422;
    margin-top: 20px;
}

.menu-lista {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 15px 0;
}
.menu-lista a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
.menu-lista a:hover {
    color: #4f8cff;
}
.secao {
    padding: 40px 0;
}
.titulo-secao {
    margin-bottom: 25px;
}
.titulo-secao h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 8px;
}
.titulo-secao p {
    color: #c5cedb;
}
.card-destaque {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.25);
}
.card-imagem img {
    width: 100%;
    display: block;
}
.card-conteudo {
    padding: 25px;
}

.categoria {
    color: #4f8cff;
    font-weight: bold;
    font-size: 14px;
}

.card-conteudo h3 {
    color: #172033;
    font-size: 24px;
    margin: 10px 0;
}

.card-conteudo p {
    color: #555;
    line-height: 1.6;
}