*{
    margin: 0%;
}
body {
    background-color: rgb(60, 78, 102);
    
}
 
.botao-login,.botao-cadastro {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;

}

.botao-login {
    background-color: #010152;
    color: white;
}
.botao-cadastro {
    background-color: #4f8cff;
    color: white;
}
.cabecalho {
    background-color: #172033;
    color: white;
    padding: 20px 0;
}
.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    font-size: 32px;
    color: #4f8cff;
}
.logo {
    color: #b8c2d1;
    margin-top: 5px; 
}
.menu-principal {
    background-color: #0d1422;
    margin-top: 20px;
}

.menu-lista {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 15px 0;
}
.menu-lista a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
.menu-lista a:hover {
    color: #4f8cff;
}
.secao {
    padding: 40px 0;
}
.titulo-secao {
    margin-bottom: 25px;
}
.titulo-secao h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 8px;
}
.titulo-secao p {
    color: #c5cedb;
}
.card-destaque {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.25);
}
.card-imagem img {
    width: 100%;
    display: block;
}
.card-conteudo {
    padding: 25px;
}

.categoria {
    color: #4f8cff;
    font-weight: bold;
    font-size: 14px;
}

.card-conteudo h3 {
    color: #172033;
    font-size: 24px;
    margin: 10px 0;
}

.card-conteudo p {
    color: #555;
    line-height: 1.6;
}
.botao-leia-mais {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background-color: #4f8cff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.botao-leia-mais:hover {
    background-color: #2f6fd8;
}
.grid-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.noticia-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.2);
}
.noticia-card:hover {
    transform: translateY(-5px);
    transition: 0,3s;
}
.layout-principal {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
}
.sidebear-bloco {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.15);
}
.sidebear-bloco h3 {
     color: #172033;
     margin-bottom: 15px;
}
.from-pesquisa input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.from-pesquisa button {
    padding: 10px 15px;
    background-color: #4f8cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categorias ul {
    list-style: none;
}

.categorias li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
}